<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Orders</title>
</head>
<body>
    <h2>Search order total</h2>
    <!-- <form action="/order/total" method="get">
        <label for="order_id"> Order ID:
            <input type="text" name="order_id">
        </label>
        <button type="submit">Search</button>
    </form> -->

    <table>
        <tr>
            <td>
                Order Id:
            </td>
            <td>
                <span data-th-text="${order_id}"></span>
            </td>
        </tr>
        <tr>
            <td>
                Order Date:
            </td>
            <td>
                <span data-th-text="${date}"></span>
            </td>
        </tr>
        <tr>
            <td>
                Customer Id:
            </td>
            <td>
                <span data-th-text="${customer_id}"></span>
            </td>
        </tr>
        <tr>
            <td>
                Total Price:
            </td>
            <td>
                <span data-th-text="${total_price}"></span>
            </td>
        </tr>
        <tr>
            <td>
                Cost Price:
            </td>
            <td>
                <span data-th-text="${cost_price}"></span>
            </td>
        </tr>
    </table>
</body>
</html>