<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose a beer</title>
    <style>
        .content {
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>
<body class="content">
    <form action="/search" method="GET">
        <h2>Select your style of beer</h2>
        <select name="id">
            <option th:each="i : ${styles}" th:value="${i.style_id}" th:text="${i.style_name}"></option>
        </select>
        <button type="submit">Search</button>
    </form>
</body>
</html>