<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <img th:src="${c.image}" width="500px">
                <br>
                <span data-th-text="${c.id}"></span>
                <br>
                <span data-th-text="${c.name}"></span>
                <span data-th-text="${c.description}"></span>
                <br>
                <a th:href="${c.details}">More Details</a>
            </td>
        </tr>
    </table>

    <form th:action="/api/character/${c.id}" method="post">
        <input type="text" name="user"><br>
        <input type="text" name="comment">
        <button type="submit">Add comment</button>
    </form>
</body>
</html>